<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment = "page(title, links, scripts)">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}"></title>
  <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/root.css}" />
  <link rel="stylesheet" th:href="@{/css/bottomNavbar.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <th:block th:if = "${links}">
      <link th:each="cssFile : ${links}" rel="stylesheet" th:href="@{'/css/' + ${cssFile}}" />
  </th:block>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script th:inline="javascript">
        function renderCard(data) {
            let cardsFilm = "";
            const directHref = /*[[@{/movie}]]*/ '';
            const directImg = /*[[@{/img/movie}]]*/ '';
            data.forEach(obj => {
                const name = obj.name;
                const director = obj.director;
                //const tag = obj.name_nhanphim;
                //const tagClass = tag.toLowerCase();
                const href =  `${directHref}/${obj.id}`;
                const poster = `${directImg}/${obj.imgPath}`;

                cardsFilm +=
                    `<div class='w-100 d-flex justify-content-center'>
                        <a class='card' href='${href}'>
                            <div class='poster'>
                                <img src='${poster}' alt='poster' />
                            </div>
                            <div class='detail'>
                                <h2 class='name-film'>
                                    ${name}
                                </h2>
                                <h3 class='director'>Đạo diễn ${director}</h3>
                            </div>
                        </a>
                    </div>`;
            });

            return cardsFilm;
        }
        function renderTheater(data) {
            let theaterHTML = "";
            let showtimeList = [];
            let ticketIds = []; // Danh sách các ticketId duy nhất
            const directImg = /*[[@{/img/avatar/avatar_app.jpg}]]*/ '';

            data.forEach((obj) => {
                obj.showTimeList.forEach(function(showTime) {
                    let ticketId = showTime.idTicket;

                    if(!showtimeList[ticketId]) {
                        showtimeList[ticketId] = [];
                    }
                    if(!ticketIds.includes(ticketId)) {
                        ticketIds.push(ticketId);
                    }
                    showtimeList[ticketId].push(showTime);
                });
                theaterHTML +=
                `<div class="list-group-item py-3 px-5" data-bs-toggle="collapse"
                    data-bs-target="#cd${obj.id}" aria-expanded="false"
                    aria-controls="cd${obj.id}" style="cursor: pointer;">
                    <div class="d-flex align-items-center">
                      <img src=${directImg} alt="" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                      <span>${obj.name}</span>
                    </div>
                </div>
                    <div id="cd${obj.id}" class="collapse py-3 px-5 showtimes">`;
                ticketIds.forEach((id) => {

                    let typeArray = ['2D', '3D'];
                    let type = typeArray[id-1];
                    theaterHTML +=
                        `<div class="type-wrapper">
                            <div class="type-ticket mint">${type}</div>
                            <div class="d-flex flex-wrap">`;
                    showtimeList[id].forEach((showtime) => {
                        theaterHTML +=
                            `<button class="btn btn-custom-showtime me-3 mb-3">${showtime.timeShow}</button>`;
                    })
                    theaterHTML += `</div>`;

                })
                theaterHTML += `</div>`;
            })
            return theaterHTML;
        }
        function handleFetchByGenre(idGenre) {
            let dynamicPath = /*[[@{/api/v1/movie}]]*/ '';
            if(idGenre != 0) {
                fetch(`${dynamicPath}/getAllByGenreId/${idGenre}`)
                    .then(res => res.json())
                    .then(data => {
                        $(".row-phim").empty().append(renderCard(data));
                    })
                    .catch(err => console.log("Error appear when get movie by genre id: " + err));
            } else {
                fetch(`${dynamicPath}/getAllShowing`)
                    .then(res => res.json())
                    .then(data => {
                        $(".row-phim").empty().append(renderCard(data));
                    })
                    .catch(err => console.log("Error appear when get movie by genre with null id"));
            }

        }
        $(function() {
            $(".wrap-loading").css("display", "none");

            // Xử lý active loại phim
            $(".type-film").on("click", ".button-type-film-showing", function() {
                $(".button-type-film-showing").removeClass("active"); // Xóa trạng thái active cho tất cả các button
                $(this).addClass("active"); // Thêm trạng thái active cho button vừa click
            });

            // Dùng fetch API hiển thị tất cả phim ở trang phim đang <chiếu></chiếu>
            $("#all-film-showing").click(function() {
                // Fetch API gọi để hiển thị tất cả phim
                fetch("/film/getAllFilm")
                    .then((res) => res.text())
                    .then((data) => {
                        console.log(data);
                        $(".row-phim").children().remove();
                        $(".row-phim").append(data);
                    })
                    .catch((err) => console.log(err));
            });



            $('.seat').click((e) => {
                if (!$(e.target).hasClass('sold'))
                    $(e.target).toggleClass('choosing');
            });
            $("#checkout").click(function() {
                $(".wrap-loading").css('display', 'block');
                const data = {
                    lichsu: {
                        soluongve: JSON.parse(sessionStorage.getItem("gheDaChon")).length,
                        ghedat: sessionStorage.getItem("gheHienThi"),
                        tongtien: $(".price-total-ticket").text().replaceAll(".", "").replace(" VND", "")
                    },
                    data_datcho: sessionStorage.getItem('gheDaChon')
                }
                fetch("/booking/checkout", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)

                    })
                    .then(res => res.text())
                    .then((data) => {
                        if (data) {
                            window.location.href = data;
                        } else {
                            alert("Thất bại");
                        }
                        $(".wrap-loading").css('display', 'none');
                    })
                    .catch((err) => console.log(err));
            });


            $("#search-input").on("input", function() {
                let currentURL = window.location.pathname;
                let pathParts = currentURL.split('/');
                var lastPart = pathParts[pathParts.length - 1];
                let coming = lastPart === 'coming' ? 1 : 0;
                let val = $(this).val().trim();
                let dynamicPath = /*[[@{/api/v1/movie}]]*/ '';
                let typeGet = coming === 1 ? 'getAllComing' : 'getAllShowing';
                if (val === "") {
                    fetch(`${dynamicPath}/${typeGet}`)
                        .then(res => res.json())
                        .then((data) => {
                            $(".row-phim").empty().append(renderCard(data));
                        });
                } else {
                    fetch(`${dynamicPath}/getAll/${val}/${coming}`)
                        .then(res => res.json())
                        .then((data) => {
                            $(".row-phim").empty().append(renderCard(data));
                        });
                }
            });

            $(".days").on("click", function() {
                // Loại bỏ lớp "active" khỏi tất cả các thẻ "days"
                $(".days").removeClass("active");

                // Thêm lớp "active" vào thẻ "days" được click
                $(this).addClass("active");
                let dynamicPath = /*[[@{/api/v1/theater/getAllByDateAndMovieId}]]*/ '';
                // Lấy URL hiện tại
                let currentURL = window.location.href;

                // Tách URL thành các phần bằng dấu "/"
                let parts = currentURL.split('/');

                // Lấy phần cuối cùng của mảng (thành phần cuối cùng trong URL)
                let idMovie = parts[parts.length - 1];
                let date = $(this).data("date");
                console.log(`${dynamicPath}?date=${date}&id=${idMovie}`);
                fetch(`${dynamicPath}?date=${date}&id=${idMovie}`)
                    .then(res => res.json())
                    .then(data => {
                        console.log(renderTheater(data))
                        $(".list-group").empty().append(renderTheater(data));
                    })
            });




            $(".update-btn").click(function() {
                let name = $("#name-update").val();
                let email = $("#email-update").val();
                let birthday = $("#birthday-update").val();
                if (name.trim() !== '' && birthday.trim() !== '' && email.trim() !== '') {
                    let pattern = /^(0[1-9]|[1-2][0-9]|3[0-1])-(0[1-9]|1[0-2])-[0-9]{4}$/;
                    if (!pattern.test(birthday)) {
                        $(".modal-body").text("Định dạng ngày tháng không hợp lệ");
                        $("#modalInfo").modal("show");
                    } else {

                        let parts = birthday.split("-");
                        let formattedDate = parts[2] + "-" + parts[1] + "-" + parts[0];
                        fetch(`/user/update/${name}/${email}/${formattedDate}`)
                            .then(res => res.text())
                            .then((data) => {
                                $(".user-name").text(name);
                                $(".modal-body").text("Cập nhật thông tin thành công");
                                $("#modalInfo").modal("show");
                                $(".edit-btn").removeClass("disabled");
                                $(".update-btn").addClass("disabled");
                                $(".detail-info input").prop('readonly', true);
                            })
                    }
                } else {
                    $(".msg-error-info").text("Chưa nhập đủ thông tin");
                }
            })

            // Modal detail phim
            $(".close, #videoModal").click(function (event) {
                if ($(event.target).is(".close, #videoModal")) {
                    $("#videoModal").css("display", "none");
                    $("#videoModal").find("iframe").attr("src", ""); // Tắt video khi đóng modal
                }
            });
        })
        function showTrailer(link) {
            $("#videoModal").css("display", "block");
            $("#videoPlayer").attr("src", link);
        }
    </script>

</head>

<body>
<div class="wrap-loading">
  <div id="circle_square">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div th:replace = "~{fragments/nav :: nav}"></div>
<section class="my-section">
  <div class="container pb-5">
    <th:block th:replace = "~{this :: content}"></th:block>

  </div>


</section>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>-->
<script th:src="@{/js/script.js}"></script>
<th:block th:if = "${scripts}">
  <script th:each="jsFile : ${scripts}"  th:src="@{'/js/' + ${jsFile}}"></script>
</th:block>
</body>

</html>