<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="dangchieu" id="showing" th:fragment="showing">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM ĐANG CHIẾU</h2>
  </div>
  <div class="type-film d-flex justify-content-between align-items-center flex-wrap">
    <button type="button" class="btn button-type-film-coming active">
      Tất cả
    </button>
    <!-- <button type="button" class="btn button-type-film" id="film-2d">
      2D
  </button> -->
    <button type="button" class="btn button-type-film-coming">
      3D
    </button>
  </div>

  <div class="row-phim">
    <div th:each="item : ${showingList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src="@{'/img/movie/' + ${item.imgPath}}" alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
          <div class="tags d-flex justify-content-center p-2">
            <!--              <span th:class="${item.name_nhanphim.toLowerCase()}">${item.name_nhanphim}</span>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="dangchieu" id="coming" th:fragment="coming">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM SẮP CHIẾU</h2>
  </div>
  <div class="type-film d-flex justify-content-between align-items-center flex-wrap">
    <button type="button" class="btn button-type-film-coming active" id="all-film-coming">
      Tất cả
    </button>
    <!-- <button type="button" class="btn button-type-film" id="film-2d">
      2D
  </button> -->
    <button type="button" class="btn button-type-film-coming" id="film-3d-coming">
      3D
    </button>
  </div>

  <div class="row-phim">
    <div th:each="item : ${comingList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src="@{'/img/movie/' + ${item.imgPath}}" alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
          <div class="tags d-flex justify-content-center p-2">
            <!--              <span th:class="${item.name_nhanphim.toLowerCase()}">${item.name_nhanphim}</span>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="poster" th:fragment="detail">
  <img class="poster-img" th:src="@{'/img/movie/' + ${movie.imgPath}}" alt="">
  <div class="poster-footer">
    <b class="name-film" th:text="${movie.name}"></b>
  </div>
</div>
<div class="content">
  <img class="film-img" alt="" th:src="@{'/img/movie/' + ${movie.imgPath}}" />

  <div class="thongtin-film">
    <div class="mt-5 title text">
      <h2 class="mb-0">THÔNG TIN PHIM</h2>
    </div>
    <div class="info m-3">
      <div class="info-daodien">
        <b>Đạo diễn:</b>
        <div class="daodien-detail" th:text="${movie.director}"></div>
      </div>
      <div class="info-dienvien">
        <b>Diễn viên:</b>
        <div class="dienvien-detail" th:text="${movie.actors}">
        </div>
      </div>
      <div class="info-khoichieu">
        <b>Khởi chiếu:</b>
        <div class="khoichieu-detail" th:text="${movie.releaseDate}">
        </div>
      </div>
    </div>
  </div>
  <div class="trailer-film">
    <div class="mt-5 title text">
      <h2 class="mb-0">TRAILER</h2>
    </div>
    <div class="video-trailer">
      <embed style="width:100%; height:300px;" th:src="${movie.trailerPath}">
    </div>
  </div>
  <div class="mota-film">
    <div class="mt-5 title text">
      <h2 class="mb-0">MÔ TẢ</h2>
    </div>
    <div class="mota-detail" th:text = "${movie.description}">
    </div>
  </div>
</div>
<div class="mb-5">
  <div class="mt-5 title text">
    <h2 class="mb-0">LỊCH CHIẾU</h2>
  </div>
  <div class="container mt-5">
    <script>
			function handleBooking(elem) {
				// let name = $($(elem).closest(".wrapper-suatchieu").find(".title-theater")).text();
				let time = $(elem).text();
				let type = $($(elem).parent().parent().find(".film")).text();
				let date = $($(elem).closest(".cls").find("h3")).text();
				let room = $(elem).data("room");
				let id_showtime = $(elem).data("showtime");
				window.location.href = `<?php echo _WEB_ROOT ?>/booking/index/${time}/${type}/${date}/${id_showtime}/${room}`;
			}
		</script>
<!--    -->
<!--		if (!empty($suatchieu))-->
<!--			foreach ($suatchieu as $rap => $dates) {-->
<!--    echo "<div class='wrapper-suatchieu'>";-->
<!--    echo "<div class='title-theater text' style='width:fit-content;padding: 15px; border-radius: 10px;'>$rap</div>";-->
<!--    foreach ($dates as $date => $loaives) {-->
<!--    $date = date('d-m', strtotime($date));-->
<!--    echo "<div class='mt-4 cls'>-->
<!--      <h3 class='text date-choose'>$date</h3>";-->
<!--      foreach ($loaives as $loaive => $times) {-->
<!--      $tagspan = strtolower($loaive);-->
<!--      echo "<div class='my-4'>";-->
<!--      echo "<div class='film film-$tagspan' style='font-size: 1.2rem; margin-right: 20px'>$loaive</div>";-->
<!--      echo "<div style='display: flex; flex-wrap: wrap; align-items: center; row-gap: 20px'>";-->
<!--        foreach ($times as $time) {-->
<!--        $tg = $time[0];-->
<!--        $phong = $time[1];-->
<!--        $id_suatchieu = $time[2];-->
<!--        echo "<button class='btn btn-showtime' data-room='$phong' data-showtime='$id_suatchieu' onclick='handleBooking(this)'>-->
<!--          $tg-->
<!--        </button>";-->
<!--        }-->
<!--        echo "</div></div>";-->
<!--      }-->
<!--      echo "</div>";-->
<!--    }-->
<!--    echo "</div>";-->
<!--    }-->


  </div>
</div>
</body>
</html>