<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="sapchieu" th:fragment="comingHome(comingList)">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM SẮP CHIẾU</h2>
  </div>
  <div class="slider-wrapper">
    <div class="slider-buttons text-end">
      <button class="pre slider-button" id="pre-btn-slider"><i class="fa-solid fa-angle-left"></i></button>
      <button class="next slider-button" id="next-btn-slider"><i class="fa-solid fa-angle-right"></i></button>
    </div>
    <div class="slider">

      <div class="images">
        <div th:each="movie, iterStat : ${comingList}" class="item" th:style="'--i: ' + ${iterStat.index}">
          <img th:src="@{${movie.imgPathAtLocal}}" >
        </div>
      </div>
      <div class="content">
        <div th:each="movie, iterStat : ${comingList}" class="item" th:classappend="${iterStat.index == 0} ? 'active'">
          <h3 th:text="${movie.name}"></h3>
          <div class="des">
            <span th:text="${movie.description.length() > 200 ? movie.description.substring(0, movie.description.lastIndexOf(' ', 200)) + '...' : movie.description}"></span>
          </div>
          <a th:href="@{'/movie/' + ${movie.id}}">Xem thêm</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dangchieu" th:fragment="showingByGenre(movieList, genreList)">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM ĐANG CHIẾU THEO THỂ LOẠI</h2>
  </div>
  <div class="type-film d-flex align-items-center flex-wrap">
    <button type="button"
            class="btn button-type-film-showing active"
            onclick="handleFetchByGenre(0)">
      Tất cả
    </button>

    <th:block th:each="genre : ${genreList}">
      <button type="button" class="btn button-type-film-showing"
              th:text="${genre.name}"
              th:attr="onclick='handleFetchByGenre(\'' + ${genre.id} + '\')'">
      </button>
    </th:block>
  </div>

  <div class="row-phim">
    <div th:each="item : ${movieList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src= "@{${item.imgPathAtLocal}}" alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
          <div class="tags d-flex justify-content-center p-2">
            <!--              <span th:class="${item.name_nhanphim.toLowerCase()}">${item.name_nhanphim}</span>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="dangchieu" id="showing" th:fragment="showing(showingList)">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM ĐANG CHIẾU</h2>
  </div>

  <div class="row-phim">
    <div th:each="item : ${showingList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src="@{${item.imgPathAtLocal}}"  alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
          <div class="tags d-flex justify-content-center p-2">
            <!--              <span th:class="${item.name_nhanphim.toLowerCase()}">${item.name_nhanphim}</span>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="dangchieu" id="coming" th:fragment="coming(comingList)">
  <div class="mt-5 title text">
    <h2 class="mb-0">PHIM SẮP CHIẾU</h2>
  </div>


  <div class="row-phim">
    <div th:each="item : ${comingList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src= "@{${item.imgPathAtLocal}}"  alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
        </div>
      </a>
    </div>
  </div>
</div>

<th:block th:fragment = "detail(movie)" >
    <div class="d-flex justify-content-md-between flex-column flex-md-row align-items-center">
      <div id="videoModal" class="modal-detail">
        <div class="modal-detail-content">
          <iframe id="videoPlayer" width="100%" height="600px" src="" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </div>
      <div class="card-movie overflow-hidden me-5" >
        <img th:src= "@{${movie.imgPathAtLocal}}"  alt="" class="w-100 h-100">
        <div class="play-button" th:attr="onclick='showTrailer(\'' + ${movie.trailerPath} + '\')'"><i class="fa-solid fa-play"></i></div>
      </div>
      <div class="card-detail-movie">
        <h3 th:text = "${movie.name}"></h3>
        <p>Khởi chiếu: <span th:text="${movie.releaseDate}"></span></p>
        <p>Thể loại: <span th:text="${genre}"></span></p>
        <p>Diễn viên: <span th:text="${movie.actors}"></span></p>
        <p>Đạo diễn: <span th:text="${movie.director}"></span></p>
        <p>Mô tả phim: <span th:text="${movie.description}"></span></p>
      </div>
    </div>
    <div class="mt-5">
      <div class="booking-ticket d-flex justify-content-center align-items-center">
        <div class="days-available d-flex">
            <script>
              var daysAvailable = document.querySelector(".days-available");

              // Lấy ngày và thứ hiện tại
              var currentDate = new Date();
              var currentDay = currentDate.getDate();
              var currentMonth = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0
              var currentYear = currentDate.getFullYear();
              var currentWeekday = currentDate.getDay(); // 0 là Chủ Nhật, 1 là Thứ 2, ...

              // Tạo 6 ngày kế tiếp
              for (var i = 0; i <= 5; i++) {
                  // Tính toán ngày tiếp theo
                  var nextDate = new Date(currentYear, currentMonth - 1, currentDay + i);
                  var nextDay = nextDate.getDate();
                  var nextMonth = nextDate.getMonth() + 1;
                  var nextYear = nextDate.getFullYear();
                  var nextWeekday = nextDate.getDay();

                  // Tạo div ngày mới
                  var newDay = document.createElement("div");
                  if(i == 0) newDay.className="days active";
                  else newDay.className = "days";
                  newDay.setAttribute("data-date", nextYear + "-" + nextMonth + "-" + nextDay);
                  var dateSpan = document.createElement("span");
                  dateSpan.textContent = nextDay + "/" + nextMonth;
                  dateSpan.id = "day" + (i + 1);
                  var weekdaySpan = document.createElement("span");
                  var weekdays = ["CN", "Th 2", "Th 3", "Th 4", "Th 5", "Th 6", "Th 7"];
                  weekdaySpan.textContent = weekdays[nextWeekday];
                  weekdaySpan.id = "weekday" + (i + 1);

                  newDay.appendChild(dateSpan);
                  newDay.appendChild(weekdaySpan);
                  daysAvailable.appendChild(newDay);
              }
            </script>

        </div>
      </div>
      <div class="my-3 d-flex justify-content-center">
        <div class="list-group list-group-flush">
<!--          <div class="list-group-item py-3 px-5" data-bs-toggle="collapse" data-bs-target="#test1" aria-expanded="false"-->
<!--               aria-controls="test1" style="cursor: pointer;">-->
<!--            <div class="d-flex align-items-center">-->
<!--              <img src="./assets/ant.jpg" alt="" class="rounded-circle me-3" style="width: 50px; height: 50px;">-->
<!--              <span>Coding Duo Quận Cam</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div id="test1" class="collapse py-3 px-5 showtimes">-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket mint">2D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket purples">3D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="list-group-item py-3 px-5" data-bs-toggle="collapse" data-bs-target="#test2" aria-expanded="false"-->
<!--               aria-controls="test2" style="cursor: pointer;">-->
<!--            <div class="d-flex align-items-center">-->
<!--              <img src="./assets/ant.jpg" alt="" class="rounded-circle me-3" style="width: 50px; height: 50px;">-->
<!--              <span>Coding Duo Quận Cam</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div id="test2" class="collapse py-3 px-5 showtimes">-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket mint">2D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket purples">3D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="list-group-item py-3 px-5" data-bs-toggle="collapse" data-bs-target="#test3" aria-expanded="false"-->
<!--               aria-controls="test3" style="cursor: pointer;">-->
<!--            <div class="d-flex align-items-center">-->
<!--              <img src="./assets/ant.jpg" alt="" class="rounded-circle me-3" style="width: 50px; height: 50px;">-->
<!--              <span>Coding Duo Quận Cam</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div id="test3" class="collapse py-3 px-5 showtimes">-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket mint">2D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="type-wrapper">-->
<!--              <div class="type-ticket purples">3D</div>-->
<!--              <div class="d-flex flex-wrap">-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--                <button class="btn btn-custom-showtime me-3 mb-3">15:30</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>


</th:block>


<!--ADMIN-->
<div class="dangchieu" id="all-movie" th:fragment="all_movie">
  <div class="mt-5 title text">
    <h2 class="mb-0">DANH SÁCH PHIM</h2>
  </div>

  <div>
    <a th:href="@{/admin/movie/create}">Thêm phim</a>
  </div>

  <div class="row-phim">
    <div th:each="item : ${movieList}" class="w-100 d-flex justify-content-center">
      <a class="card" th:href="@{'/admin/movie/' + ${item.id}}">
        <div class="poster">
          <img th:src= "@{${item.imgPathAtLocal}}"  alt="poster" />
        </div>
        <div class="detail">
          <h2 class="name-film" th:text="${item.name}"></h2>
          <h3 class="director" th:text="'Đạo diễn ' + ${item.director}"></h3>
          <div class="tags d-flex justify-content-center p-2">
            <!--              <span th:class="${item.name_nhanphim.toLowerCase()}">${item.name_nhanphim}</span>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--Chi tiết phim admin-->
<div th:fragment = "admin_detail" class="d-flex justify-content-md-between flex-column flex-md-row align-items-center">
  <div id="videoModalAdmin" class="modal-detail">
    <div class="modal-detail-content">
      <iframe id="videoPlayerAdmin" width="100%" height="600px" src="" frameborder="0" allowfullscreen="true"></iframe>
    </div>
  </div>
  <div class="card-movie overflow-hidden me-5" >
    <img th:src= "@{${movie.imgPathAtLocal}}"  alt="" class="w-100 h-100">
    <div class="play-button" th:attr="onclick='showTrailer(\'' + ${movie.trailerPath} + '\')'"><i class="fa-solid fa-play"></i></div>
  </div>
  <div class="card-detail-movie">
    <h3 th:text = "${movie.name}"></h3>
    <p>Khởi chiếu: <span th:text="${movie.releaseDate}"></span></p>
    <p>Thể loại: <span th:text="${genre}"></span></p>
    <p>Diễn viên: <span th:text="${movie.actors}"></span></p>
    <p>Đạo diễn: <span th:text="${movie.director}"></span></p>
    <p>Mô tả phim: <span th:text="${movie.description}"></span></p>
    <a href="" class="btn btn-primary">
      <i class="fa-solid fa-pen-to-square"></i>
      Sửa thông tin
    </a>
    <a href="" class="btn btn-danger">
      <i class="fa-solid fa-trash"></i>
      Xóa phim
    </a>
  </div>
</div>
<!-- Suất chiếu  -->
<div></div>
</div>


<!--Form edit movie-->
<div class="dangchieu" id="creat-movie" th:fragment="create_movie">
  <div class="mt-5 title text">
    <h2 class="mb-0" th:text="${fTitle}"></h2>
  </div>
<!--  <form th:action="@{/admin/movie}" th:object="${movieDTO}" method="post" enctype="multipart/form-data">-->
    <form th:object="${movieDTO}" id="form" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <span class="input-group-text">Tên phim</span>
      <input type="text" class="form-control" id="movie-name" th:field="*{name}" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Đạo diễn</span>
      <input type="text" class="form-control" id="movie-director" th:field="*{director}" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Diễn viên</span>
      <input type="text" class="form-control" id="movie-actors" th:field="*{actors}" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Ngày chiếu</span>
      <input type="date" class="form-control" id="movie-release-day" th:field="*{releaseDate}" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Thời lượng (phút)</span>
      <input type="number" class="form-control" id="movie-duration" th:field="*{duration}" required>
    </div>
    <div class="form-floating">
      <textarea class="form-control" id="movie-description" style="height: 100px" th:field="*{description}"></textarea>
      <label for="movie-description">Mô tả</label>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-text">
        <input class="form-check-input mt-0" id="movie-coming" type="checkbox" th:field="*{coming}">
      </div>
      <span class="form-control">Sắp chiếu</span>
    </div>

    <div class="mb-3">
      <label for="movie-image" class="form-label text-white">Poster</label>
      <input class="form-control" type="file" id="movie-image" accept="image/png, image/jpeg, image/jpg"
             name="image" required>
    </div>

    <div class="mb-3">
      <img src="#" id="preview-image">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Link trailer</span>
      <input type="text" id="movie-trailer-path" class="form-control" th:field="*{trailerPath}" required>
    </div>

    <div th:each="tagMovie : ${tagMovieList}" class="text-white">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="tagMovie" th:id="@{'radio-'+${tagMovie.id}}"
               th:value="${tagMovie.id}"
               th:field="*{tagId}">
        <label class="form-check-label" th:for="@{'radio-'+${tagMovie.id}}"
               th:text="${tagMovie.name}"
        ></label>
      </div>
    </div>

    <div th:each="genre : ${genreList}" class="btn-group mb-3">
        <input type="checkbox" class="btn-check" th:id="@{'checkbox-'+${genre.id}}" autocomplete="off"
               name="genre"
               th:value="${genre.name}"
        >
        <label class="btn btn-outline-light" th:for="@{'checkbox-'+${genre.id}}" th:text="${genre.name}"></label>
    </div>

      <br>

    <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary mr-3"><input type="reset" value="Reset" class="btn btn-secondary">
  </form>

</div>


    <script>
      function handleBooking(elem) {
          // let name = $($(elem).closest(".wrapper-suatchieu").find(".title-theater")).text();
          let time = $(elem).text();
          let type = $($(elem).parent().parent().find(".film")).text();
          let date = $($(elem).closest(".cls").find("h3")).text();
          let room = $(elem).data("room");
          let id_showtime = $(elem).data("showtime");
          window.location.href = `<?php echo _WEB_ROOT ?>/booking/index/${time}/${type}/${date}/${id_showtime}/${room}`;
      }
	</script>
<!--    -->
<!--		if (!empty($suatchieu))-->
<!--			foreach ($suatchieu as $rap => $dates) {-->
<!--    echo "<div class='wrapper-suatchieu'>";-->
<!--    echo "<div class='title-theater text' style='width:fit-content;padding: 15px; border-radius: 10px;'>$rap</div>";-->
<!--    foreach ($dates as $date => $loaives) {-->
<!--    $date = date('d-m', strtotime($date));-->
<!--    echo "<div class='mt-4 cls'>-->
<!--      <h3 class='text date-choose'>$date</h3>";-->
<!--      foreach ($loaives as $loaive => $times) {-->
<!--      $tagspan = strtolower($loaive);-->
<!--      echo "<div class='my-4'>";-->
<!--      echo "<div class='film film-$tagspan' style='font-size: 1.2rem; margin-right: 20px'>$loaive</div>";-->
<!--      echo "<div style='display: flex; flex-wrap: wrap; align-items: center; row-gap: 20px'>";-->
<!--        foreach ($times as $time) {-->
<!--        $tg = $time[0];-->
<!--        $phong = $time[1];-->
<!--        $id_suatchieu = $time[2];-->
<!--        echo "<button class='btn btn-showtime' data-room='$phong' data-showtime='$id_suatchieu' onclick='handleBooking(this)'>-->
<!--          $tg-->
<!--        </button>";-->
<!--        }-->
<!--        echo "</div></div>";-->
<!--      }-->
<!--      echo "</div>";-->
<!--    }-->
<!--    echo "</div>";-->
<!--    }-->


  </div>
</div>
</body>
</html>