@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
    font-family: "STIX Two Text", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root {
    /* Animation variables */
    --animate-tran-03: all 0.3s ease;
    --animate-tran-04: all 0.4s ease;
    --animate-tran-05: all 0.5s ease;
    /* Color variables */
    --body-color: #e6eaf7;
    --sidebar-color: #fff;
    --primary-color: #7569fd;
    --second-color: #f6f5ff;
    --toggle-mode-color: #ddd;
    --text-color: #6e6a6a;
    --border-color: #8b85bf;
    --text-btn: #eff8f8;
    /* Background variables */
    --button-background: radial-gradient(
        circle,
        /* rgb(247, 160, 198) 0%,
        rgb(139, 184, 239) 100% */
            rgb(160, 247, 233) 0%,
        rgb(152, 153, 231) 100%
    );
    /* Card info */
    --card-height: 350px;
    --card-width: 220px;

    /* Seat info */
    --seat-width: 45px;
    --seat-height: 45px;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 15px;
    border: 6px solid transparent;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8fb5bd;
}

body {
    background: var(--body-color);
    transition: var(--animate-tran-04);
}
body.dark {
    --body-color: #001232;
    --sidebar-color: #0c244b;
    --primary-color: #8925e6;
    --second-color: #3f6187;
    --toggle-mode-color: #fff;
    --text-color: #edb3db;
    /* --text-color: #abe8f0; */
    --border-color: #abe8f0;
    --text-btn: #122cd7;
    /* --button-background: repeating-linear-gradient(
        -45deg,
        #7bdff2 10px 30px,
        #b2f7ef 30px 50px,
        #eff7f6 50px 70px,
        #f7d6e0 70px 90px,
        #f2b5d4 90px 110px
    ); */
    /* --button-background: radial-gradient(
        circle,
            rgb(79, 114, 185) 0%,
        rgb(52, 11, 112) 100%
    ); */
    --button-background: linear-gradient(to left bottom, #5ebaee, #dbe3ff, #ecb3fe);
}
a {
    text-decoration: none !important;
}