<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/customer_layout :: page(title=${title}, links=${links}, scripts=${scripts})}">
<head>

</head>
<body>

<th:block th:fragment="content">
    <div th:replace = "~{fragments/banner :: banner(banners=${banners})}"></div>
    <div th:replace = "~{fragments/movie :: showingByGenre(movieList=${movieList}, genreList=${genreList})}"></div>
    <div th:replace = "~{fragments/movie :: comingHome(comingList=${comingList})}"></div>
</th:block>

</body>
</html>