<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin_layout :: page(title=${title}, links=${links}, scripts=${scripts})}">
<head>

</head>
<body>

<div th:fragment="content">
    <div class="mt-5 title text">
        <h2 class="mb-0">Danh sách phòng chiếu</h2>
    </div>
    <button class="btn btn-custom-showtime btn-room" style="font-weight: normal !important;">Thêm phòng chiếu</button>
    <table class="content-table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên phòng</th>
            <th>Số hàng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room, idx : ${roomList}">
            <td th:text="${idx.index + 1}"></td>
            <td th:text="'Phòng số ' + ${room.id}"></td>
            <td th:text="${room.numRow}"></td>
        </tr>

        </tbody>
    </table>
    <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changePriceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="changePriceModalLabel">Thay đổi thông tin phòng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="newRoom" class="form-label text">Số hàng của phòng</label>
                        <input type="text" id="newRoom" class="form-control" placeholder="Nhập số hàng mới">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="changeBtn">Thêm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            let id = null;
            let mode = null;  // 1 là thêm - 0 là cập nhật
            $('.btn-room').click(() => {
                $('#changeModal h1').text("Thêm phòng chiếu mới");
                mode = 1;
                $('#changeModal').modal('show');
            })
            $('.change-room-btn').click(function() {
                id = $(this).data('id');
                $('#changeModal').modal('show');
            })
            $('#changeBtn').click(function() {
                const numRow = $('#newRoom').val();
                if(numRow <= 0) {
                    Swal.fire({
                        title: "Không hợp lệ",
                        text: "Vui lòng nhập số hàng > 0",
                        icon: "question"
                    });
                }
                // Thêm
                if(mode === 1) {
                    fetch('/cinema/api/v1/room', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({numRow})
                    })
                        .then(res => {
                            Swal.fire({
                                title: "Thành công",
                                text: "Thêm phòng thành công",
                                icon: "success"
                            });
                            let newIdx = parseInt($('tbody tr').find('td').first().text()) + 1;
                            let tr = `<tr>
                                <td>${newIdx}</td>
                                <td>Phòng số ${newIdx}</td>
                                <td>${numRow}</td>
                            </tr>`
                            $('tbody').append(tr);
                        })
                }
            })
        })
    </script>
</div>

</body>
</html>